.card{
    display: block !important;
    width: 90%;
    max-width: 550px;
    margin: 1em auto;
}

.cardWrap1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team{
    width: 40%;
    max-width: 200px;
    justify-content: space-around;
}

.team1Img,.team2Img{
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cardWrap2{
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    font-size: 18px;
}

.cardWrap2>p{
    width: 100%;
}

.score{
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

.team2>p{
    text-align: right;
    width: 100%;
}

.team-stats{
    padding: 0.3em;
}

.team-stats>p:not(.team2>p){
    text-align: left;
}

.comment{
    padding: 1em;
}

.score{
    justify-content: center;
}

.score>p{
    color: rgba(128, 128, 128, 0.65) !important;
    font-size: 1em;
}

.update{
    font-size: 0.9em !important;
}

.w-10{
    width: fit-content;
}

.d-circle{
    display: inline-block;
    width: 5px !important;
    height: 5px !important;
    background-color: white;
    border-radius: 50%; 
}

.upcoming{
    font-size: 1em;
}

.overWrap{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.circle{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
}

@media (min-width:699px) {
    .team{
        display: flex;
    }
    .team2{
        flex-direction: row-reverse;
    }
}