.loading{
    width: 100%;
    height: 50% !important;
    position: absolute;
    display: block;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.loading>img{
    width: 10%;
}

button{
    padding: 8px 10px;
    width: 100px;
    border-radius: 3px;
    border: none;
    background-color: green;
    color: white;
    display: block;
    margin: 0 auto;
}

.btnRed{
    background-color: red;
}

@media (max-width:700px) {
    .loading{
        height: 100vh;
    }
    .loadingExceed{
        height: 40vh;
        font-family: monospace;
    }
    .loadingExceed>h3{
        margin: 10px 0px;
        font-size: 2em;
        font-weight: 900;
    }
    .loadingExceed>p{
        color: #d2d3d6;
        font-size: 1.5em;
        font-weight: 50;
    }
    .loading>img{
        width: 40%;
    }
}